html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
}
    
#map-canvas {
    height: 500px;
    margin-top: 20px;
}

#content {
	height: auto;
}

div#selectRoomForm, div#findForm {
    display: none;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
}