body {
    padding-top: 60px;
}

div.container {
    margin-bottom: 20px;
}
    
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div#selectRoomForm, div#findForm {
    display: none;
}