{% extends 'layout.html' %}

{% block content %}

<div class="highlight-content hidden-xs">
    <div class="container">
        <div class="jumbotron">
            <div class="col-md-8">
                <h1>Find your toilet!</h1>
                <p>Find the nearest and less crowded bathroom!</p>
                <p>Just tell us where you want to find it :)</p>
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='images/wc-symbols.png') }}" alt="Toilet signs" />
            </div>
        </div>
    </div>
</div>

<div class="container theme-showcase" role="main">

    <div class="row">
        <h1>About</h1>
        <p>How many times did you go to the toilet and once there you found out it was out of service? How long did you wait to enter because of an endless queue and you did not know that a little further on there was a nearly empty toilet?</p>

        <p>Our goal is to help you so that this will not happen again!</p>

        <p>With WIN every student inside the university will be able to:
            
            <ul>
                <li>check in real time whether the toilet you are going to is in service or not;</li>
                <li>know the current or average waiting time in queue for the toilet and how many people are there;</li>
                <li>know if there are other toilets nearby where there are no people waiting in queue, so you can choose the best one for you.</li>
            </ul>
        
        </p>
    
        <p>A visible indicator, like a light, will inform you about the toilet status and a mobile-friendly interface will inform you about what is going on in the toilets.</p>
        
        <p>Finally, the cleaning staff can let students know when a specific restroom is not available, so that they will be able to work more smoothly.</p>
    
        <p>Learn more about WIN visiting our <a href="http://ami-2015.github.io/WIN/">project website</a>.</p>
    </div>

</div>

{% endblock %}