{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<!-- Restroom data to be parsed. KEEP before map.js loading-->
<script type="text/javascript">
    var restrooms = {{ restrooms|tojson }};
    var indexPage = true;
</script>
{% endblock %}


{% block content %}

<div class="highlight-content hidden-xs">
    <div class="container">
        <div class="jumbotron">
            <div class="col-md-8">
                <h1>Find your toilet!</h1>
                <p>Find the nearest and less crowded bathroom!</p>
                <p>Just tell us where you want to find it :)</p>
            </div>
            <div class="col-md-4">
                <img src="wc-symbols.png" alt="Toilet signs" />
            </div>
        </div>
    </div>
</div>

<div class="container theme-showcase" role="main">

    <div class="row">
        
        <form class="form-horizontal col-md-4">
            <fieldset>

            <!-- Form Name -->
            <legend>Find your toilet!</legend>

            <!-- Gender Choice -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="gender">Gender</label>
              <div class="col-md-6">
                  <div class="radio">
                    <label for="gender-0">
                      <input type="radio" name="gender" id="gender-0" value="F" checked="checked">
                      Female
                    </label>
                  </div>
                  <div class="radio">
                    <label for="gender-1">
                      <input type="radio" name="gender" id="gender-1" value="M">
                      Male
                    </label>
                  </div>
              </div>
            </div>

            <!-- Select Type of Room -->
            <div class="form-group" id="typeRoomForm">
                <label class="col-md-4 control-label" for="typeofroom">Type of Room</label>
                <div class="col-md-8">
                    <select id="typeofroom" name="typeofroom" class="form-control">
                        <option disabled="disabled" selected="selected">-- select an option --</option>
                        {% for type in types %}
                        <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Select Room -->
            <div class="form-group" id="selectRoomForm">
              <label class="col-md-4 control-label" for="selectroom">Select Room</label>
              <div class="col-md-8">
                <select id="selectroom" name="selectroom" class="form-control"></select>
              </div>
            </div>

            <!-- Submit form -->
            <div class="form-group" id="findForm">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button id="find" name="find" class="btn btn-default" type="button">Find it!</button>
              </div>
            </div>

            </fieldset>
        </form>
        <div class="col-md-8" id="map-canvas">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Page scripts -->
<script src="{{ url_for('static', filename='win.js') }}" type="text/javascript"></script>
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
