{% extends 'layout.html' %}

{% block head %}
{{ super() }}

<!-- Restroom data to be parsed. KEEP before map.js loading-->
<script type="text/javascript">
    var defaultGender = {{ gender|tojson }}.toLowerCase();
    var restrooms = {{ restrooms|tojson }};
    var waitingTime = {{ waitingTime|tojson }};
</script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
        
{% endblock %}


{% block content %}
<div class="container theme-showcase" role="main">
    
	<h1>{{ place.type + ' - ' + place.name }}</h1>
    
	<table class="table table-striped">
        <thead>
            <th>Restroom Name</th>
            <th>People / Available WC</th>
            <th>Waiting Time</th>
        </thead>
        <tbody>
           {% for restroom in restrooms %}
           <!-- List restrooms by priority (distance) and also compute free wc -->
           <tr>
               <td>{{ restroom.name }}</td>
               <td>{{ restroom.people_count|string + '/' + restroom.wc_available|string }}</td>
               <td>{{ waitingTime.minuti|string + ':' + waitingTime.secondi|string }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
    
</div>

<div id="map-canvas"></div>

{% endblock %}
