{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-4">
		<a href={{ url_for ('index') }}>
			<button type="button" class="btn btn-default" aria-label="Left Align">
  				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			</button>
		</a>
	</div>
	<div class="col-md-4">
		<h1>WIN - Wc Info</h1>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="modal-body text-left">
				<p>Select the type of room closest to you</p>
				<div class="dropdown">
  					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    				Types of room
   		 				<span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    					<li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('numberRoom',  sex=sex, type="room") }}>Room</a></li>
    					<li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('numberRoom',  sex=sex, type="computerlab") }}>Computer Lab</a></li>
   		 				<li role="presentation"><a role="menuitem" tabindex="-1" href={{ url_for('numberRoom',  sex=sex, type="bar") }}>Bar</a></li>
  					</ul>
				</div>
			</div>
		</div>
	</div>
</div>													
{% endblock %}